#pageWrapper {
        font: 16px/1.4 'PT Sans Narrow', sans-serif;
        width: 1000px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border: thin;   
    }
	
	 #header {
        height: 50px;
        width: 1000px;
    }
	
	     #companyLogo {
        position: relative;
        width: 200px;
		left: 30px;
		top: -7px;
	    }	    

    .bannerTitle { background-color: #377037;
    				color: white;
    			position:relative;
    			text-align: center;
    			width: 200px;
    			left: 325px;
    			top: -65px;
    }

    .bannerTitle2 { background-color: #377037;
    				color: white;
        			position:relative;
    			text-align: center;
    			width: 200px;
    			right: -750px;
    			top: -110px;
    		}

    #contentWrapper { background-color: #471F37;
    				  position: relative;
    				  height: 200px;
    				  width: 1000px;
      				  margin-left: auto;
     				  margin-right: auto;
     				  top: -103px;
    }

    #companySlogan {position: relative;
    			color: white;
    			font-size: 22px;
        		width: 300px;
				right: -400px;
				top: -245px;
    }

    #renterreasons {background-color: #377037;
    			color: white;
    			position: relative;
    			text-align: center;
    			width: 100px;
    			left: 102px;
    			top: -177px;
    }

    #driverreasons {background-color: #377037;
    			color: white;
    			position: relative;
    			text-align: center;
    			width: 100px;
    			right: -790px;
    			top: -316px;
    		}

    #renterslist {position: relative;
    			  font-size: 18px;
    			  top: -150px;
    			  left: 50px;

    }

	#driverslist {position: relative;
				  font-size: 18px;
				  top: -280px;
				  right: -705px;
	}

