#pageWrapper {
        font: 16px/1.4 'PT Sans Narrow', sans-serif;
        width: 1000px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid black;
    }
	
	 #header {
        height: 127px;
        width: 1000px;
    }
	
	     .companySlogan1 {
        position: relative;
        width: 200px;
		left: 25px;
		bottom: 10px;
	    }
	    
		.companySlogan2 {
        position: relative;
        width: 300px;
		right: -650px;
		bottom: 75px;
    }
